.image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-magnifier {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
    opacity: 0.8;
    display: none;
  }
  
  .image-container:hover .image-magnifier {
    display: block;
  }